{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename = 'img/cod.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading"> 
                            <h1>{{ params["blog_name"] }}</h1>
                            <span class="subheading">Insights into the Projects made by Romil Arora</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in posts %}
                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.tagline}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="{{params['git_url']}}" target="_blank"> Romil Arora</a>
                            on {{post.date}}</p>
                       </div>
                       {{post.content[0:143]}}...
                       <hr>
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-between mb-4">
                        <!-- <a class="btn btn-primary" href="{{prev}}">&larr;Previous</a> -->
                        <!-- <a class="btn btn-primary" href="{{next}}">Next →</a> -->
                        <a class="button-40" href="{{prev}}">&larr;Previous</a>
                        <a class="button-40" href="{{next}}">Next →</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
